<div class="home-page-container">
  <div class="search-container">
    <label for="search">Search</label>
    <input #search type="text" [formControl]="searchControl">
  </div>
  <div *ngIf="filteredRepos">
    <h3>
      Projects

    </h3>
    <div class="filter-box" >Filter by language:
      <div *ngFor="let language of languages" (click)="filterBy(language)" class="language-element">{{language}}</div>
    </div>
    <div class="results-container">

      <ng-container *ngFor="let project of filteredRepos; let i=index;">
        <project-element [project]="project" [route]="currentRoute"></project-element>
      </ng-container>
    </div>
  </div>
</div>